*{
    margin:0px;
    box-sizing:border-box;
}
.heading{
    text-align:centre;
    font-weight:bold;
    margin-left:15%;
    margin-top: 3%;
    color:blue;
}

body{
    padding-left:20%;
}

.container{
    border-left: 0.5px solid rgb(128, 128, 128);
    border-right: 0.5px solid rgb(128, 128, 128);
    border-top: 0.5px solid rgb(128, 128, 128);
    height:1700px;
    width:780px;
    border-radius: 10px;
    position: relative;

}
.box{
    position: absolute;
    border:1px solid lightskyblue;
    border-radius:10px;
    color:blue;
    left:30px;
    padding-right:5px;
    padding-top: 5px;
    padding-left: 5px;
    top:40px;
    height: 90px;
    width: 120px;
    cursor: pointer;
}
#edit{
    position: absolute;
    top:5px;
    left:150px;
     
}
#delete{
    position: absolute;
    top:35px;
    left:150px;

}
.upload{
    position: absolute;
    top:60px;
    left:100px;
    color:grey;
}
.taxv{
    font-size:40px;
    position: absolute;
    right:55px;
    top:52px;
    border:1px solid white;
    padding:5px;
    width: 280px;
    letter-spacing: 2px;
    border-radius: 5px;
}
.taxv:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}

.cname{ 
    position: absolute;
    left:20px;
    top:180px;
    border:1px solid white;
    padding:5px;
    border-radius: 5px;
    width:58%;
}
.cname:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.yname{
    position: absolute;
    left:20px;
    top:210px;
    border:1px solid white;
    padding:5px;
    border-radius: 5px;
    width:58%;
}
.yname:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.cgst{
    position: absolute;
    left:20px;
    top:240px;
    border:1px solid white;
    padding:5px;
    border-radius: 5px;
    width:58%;
}
.cgst:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.caddr{
    position: absolute;
    left:20px;
    top:270px;
    border:1px solid white;
    padding:5px;
    border-radius: 5px;
    width:58%;
}
.caddr:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.city{
    position: absolute;
    left:20px;
    top:300px;
    border:1px solid white;
    padding:5px;
    border-radius: 5px;
    width:58%;
}
.city:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.state{
    position: absolute;
    left:20px;
    top:330px;
    border:1px solid white;
    padding:5px;
    border-radius: 5px;
    width:58%;
}
.state:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.country{
    position: absolute;
    left:20px;
    top:360px;
    border:1px solid white;
    padding:5px;
    border-radius: 5px;
    width:58%;
}
.country:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.billto{
    position: absolute;
    left:20px;
    top:460px;
    font-weight: bold;
    border:1px solid white;
    padding:5px;
    border-radius: 5px;
    width:52%;
}
.billto:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.clicom{
    position: absolute;
    left:20px;
    top:490px;
    border:1px solid white;
    padding:5px;
    border-radius: 5px;
    width:52%;
}
.clicom:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.cligst{
    position: absolute;
    left:20px;
    top:520px;
    border:1px solid white;
    padding:5px;
    border-radius: 5px;
    width:52%;
}
.cligst:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.cliaddr{
    position: absolute;
    left:20px;
    top:550px;
    border:1px solid white;
    padding:5px;
    border-radius: 5px;
    width:52%;
}
.cliaddr:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.clicity{
    position: absolute;
    left:20px;
    top:580px;
    border:1px solid white;
    padding:5px;
    border-radius: 5px;
    width:52%;
}
.clicity:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.clistate{
    position: absolute;
    left:20px;
    top:610px;
    border:1px solid white;
    padding:5px;
    border-radius: 5px;
    width:52%;
}
.clistate:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.clicountry{
    position: absolute;
    left:20px;
    top:640px;
    border:1px solid white;
    padding:5px;
    border-radius: 5px;
    width:52%;
}
.clicountry:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.invoice{
    position: absolute;
    right:220px;
    top:460px;
    font-weight: bold;
    border:1px solid white;
    padding:5px;
    border-radius: 5px;
    color:grey;
    width: 110px;
}
.invoice:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.invoicedt{
    position: absolute;
    right:212px;
    top:490px;
    font-weight: bold;
    border:1px solid white;
    padding:5px;
    color:grey;
    width: 120px;
}
.invoicedt:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.duedt{
    position: absolute;
    right:220px;
    top:520px;
    font-weight: bold;
    border:1px solid white;
    padding:5px;
    color:grey;
    width: 110px;
}
.duedt:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.inv12{
    position: absolute;
    right:64px;
    top:460px;
    border:1px solid white;
    padding:5px;
    color:grey;
    width: 120px;
}
.inv12:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.invoicedt1{
    position: absolute;
    right:65px;
    top:490px;
    border:1px solid white;
    padding:5px;
    color:grey;
}
.invoicedt1:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.duedt1{
    position: absolute;
    right:65px;
    top:520px;
    border:1px solid white;
    padding:5px;
    color:grey;
}
.duedt1:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.supply{
    position: absolute;
    left:20px;
    top:695px;
    border:1px solid white;
    padding:5px;
}
.supplystate{
    position: absolute;
    left:140px;
    top:698px;
    border:1px solid white;
    padding:3px;
    width: 200px;
}
.supplystate:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.text{
    width:50px;
    padding:2px;
    margin:2px;
    border:black;
    
}
.text1{
    width:50px;
    padding:2px;
    margin:2px;
    border:black;
    background-color: black;
    color:white;
}
.text2{
    width:140px;
    padding:2px;
    margin:2px;
    border:black;
    background-color: black;
    color:white;
}
.table{
    position: absolute;
    top:750px;
    left:30px;
    height: auto;
}
th{
    background-color:black;
    color:white;
    z-index: 2;
    
}
th,td{
    border-bottom: 1px solid #ddd; 
}
th,table,td{
    
    border-collapse: collapse;
    padding: 13px;
    
}
.add{
    position: absolute;
    left:26px;
    top:910px;
    cursor: pointer;
}
.add1{
    position: absolute;
    left:56px;
    top:916px;
    color:blue;
    cursor: pointer;
}
.addrow1{
    position: absolute;
    left:50px;
    top:940px;
    border:1px solid black;
    padding: 3px;
    background-color: black;
    color:white;
    display: none;

}
.subtot{
    position: absolute;
    left:40%;
    top:916px;
    color:grey;
    width:130px;
}
.subtotval{
    position: absolute;
    right:9.5%;
    top:913px;
    width:70px;
    padding:2px;
    margin:2px;
}


.sgsttot{
    position: absolute;
    left:40%;
    top:946px;
    color:grey;
    width:130px;
    
}

.sgsttotval{
    position: absolute;
    right:9.5%;
    top:943px;
    width:70px;
    padding:2px;
    margin:2px;
    
}

.cgsttot{
    position: absolute;
    left:40%;
    top:976px;
    color:grey;
    width:130px;
    
}

.cgsttotval{
    position: absolute;
    right:9.5%;
    top:973px;
    width:70px;
    padding:2px;
    margin:2px;
    
}

.cesstot{
    position: absolute;
    left:40%;
    top:1006px;
    color:grey;
    width:130px;
    
}

.cesstotval{
    position: absolute;
    right:9.5%;
    top:1003px;
    width:70px;
    padding:2px;
    margin:2px;
    
}

.tot{
    position: absolute;
    left:40%;
    /* top:966px; */
    top:1036px;
    color:grey;
    width:130px;
}
.totval{
    position: absolute;
    right:9.5%;
    /* top:963px; */
    top:1033px;
    width:70px;
    padding:2px;
    margin:2px;
}

.symbol{
    position: absolute;
    right:19%;
    /* top:963px; */
    top:1033px;
    width:50px;
    padding:2px;
    margin:2px;
}


.note{
    position: absolute;
    left:30px;
    top:1133px;
    width:90%;
    padding:5px;
    margin:2px;
    font-weight: bold;
    color:black;
    border: 1px solid white;
    
}
.note:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.notepara{
    position: absolute;
    left:30px;
    top:1160px;
    width:90%;
    padding:5px;
    margin:2px;
    color:grey;
    border: 1px solid white;
}
.notepara:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.terms{
    position: absolute;
    left:30px;
    top:1270px;
    width:90%;
    padding:5px;
    margin:2px;
    font-weight: bold;
    color:black;
    border: 1px solid white;
}
.terms:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.termspara{
    position: absolute;
    left:30px;
    top:1297px;
    width:90%;
    padding:5px;
    margin:2px;
    color:grey;
    border: 1px solid white;
}
.termspara:hover{
    border:1px solid skyblue;
    border-radius: 5px;

}
.logo{
    position: absolute;
    top:1380px;
    right:70px;
    cursor:pointer;
}
.logotext{
    position: absolute;
    top:1440px;
    right:70px;
    padding: 5px;
    border:1px solid black;
    background-color: black;
    color:white;
    display: none;
}
.ad{
    position: absolute;
    top:1450px;
    right:130px;
    color:black;
    font-size: large;
}
.line{
    position: absolute;
    top:1565px;
    height: 1px;
    width: 100%;
    /* border:0.1px solid rgb(128, 128, 128); */
}